<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750004903492-ukpvf4fjfro4msfh3u8079vlv9evdbbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750004903492-ukpvf4fjfro4msfh3u8079vlv9evdbbc</string>
	<key>API_KEY</key>
	<string>AIzaSyB4CyydZpDIlhrjATb6ilh8lsdqfIetwLI</string>
	<key>GCM_SENDER_ID</key>
	<string>750004903492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.linkyouTask</string>
	<key>PROJECT_ID</key>
	<string>linkyou-task-158fb</string>
	<key>STORAGE_BUCKET</key>
	<string>linkyou-task-158fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750004903492:ios:f92aca6291a09ab2c46611</string>
</dict>
</plist>